* {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Source Code Pro', monospace;
  color: #00cc00;
  background: #0f0f23;
  margin: 0 10px;
  padding: 0;
  box-sizing: border-box;
}

.main-heading {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 1.6em;
  font-weight: normal;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  color: #ccc;
  font-size: 0.8em;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 0.4em 0.8em;
  cursor: pointer;
  background-color: #262638;
  transition: 1s;
}

.custom-file-upload:hover {
  background-color: #3b3b4b;
}

.container {
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 100px 300px 300px;
  /* column-gap: 10px; */
  justify-items: center;
  width: fit-content;
  background: #171735;
}

.task {
  font-size: 1.1em;
  font-weight: bold;
  background: #171735;
}

span {
  background: #171735;
}

.result1 {
  background: #171735;
}

.result2 {
  background: #171735;
}

.result--color {
  color: #cccccc;
  font-weight: 300;
  background: #171735;
}
